
@keyframes menu-content {
    from {
        opacity: 0;
        animation-timing-function: ease-out;
        transform: translateX(-5%);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }


}




  @keyframes opacite {

    0%{
        opacity: 1;
        background-color: white;
    }

    65%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        background-color: transparent;
        pointer-events: none;
    }
  }