/*** mixin ***/

@mixin btn-cta {
    border-radius: 25px;
    padding: 15px 19px;
    font-family: 'Roboto';
    color: white;
    text-decoration: none;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 300ms;
}

@mixin btn-cta-hoover {
    opacity: 90%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

@mixin cards {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}
