/***  Variables  ***/

$first-color:rgba(147,86,220);
$second-color: rgba(255,121,218);
$green-light: #99E2D0;
$black-grey: #353535;
$medium-grey :#7e7e7e;
$black : #000000;

$color-label-font:#008766;
$backgroundcolor: #F6F6F6;

