@use "variables";
@use "fonts";
@use "mixins";
@use "keyframes";




/***    Général    ***/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: variables.$backgroundcolor;

    @media screen and (min-width:1024px) {
        background-color: variables.$white;

    }
}


h1 {
    font-family: 'Shrikhand';
    font-size: 28px;
    margin: 32px 0px 0px 15px;
    font-weight: 400;
}

h2 {
    font-family: 'Roboto-light';
    font-size: 16px;
    font-weight: lighter;

    &::after {
        content: "";
        display: block;
        width: 40px;
        height: 100%;
        border-bottom: solid #99E2D0 3px;
        padding-top: 9px;
    }
}

h3 {
    font-family: 'Roboto';
    font-size: 18px;
    margin: 0;

}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}




/***    HEADER   ***/


header {
    height: 63px;
    background-color: white;
    display: flex;
    align-items: center;

    .logo {
        width: 100%;

        .link-back {
            display: inline-block;
            padding-left: 23px;
            text-decoration: none;
            color: variables.$black-grey;
            position: relative;
            z-index: 1;
        }

        .logo-img {
            position: absolute;
            top: 19px;
            display: flex;
            justify-content: center;
            width: 100%;
        }

        img {
            width: 162px;
            height: auto;
        }
    }
}


/*** Section menu ***/



main {

    .menu-image {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    .menu {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: -55px;
        background-color: variables.$backgroundcolor;
        border-radius: 27px 27px 0 0;

        @media screen and (min-width:1024px) {
            margin-right: 96px;
            margin-left: 96px;

        }

        @media screen and (min-width:1440px) {
            margin-right: 192px;
            margin-left: 192px;
            padding: 0 210px 0 210px;


        }

        &__title {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            width: 100%;
            gap: 24px;

            @media screen and (min-width:1440px) {
                justify-content: center;

            }

            .heart2 {

                .anim {
                    width: 21px;
                    overflow: visible;
                    cursor: pointer;
                }

                .anim path {
                    fill: url(#myGradient);
                    stroke: black;
                    stroke-width: 45px;
                }

                .anim stop {
                    transition: all 0.25s ease-in-out;
                }

                .anim path:hover {
                    stroke: transparent;
                    transition: all 0.25s ease-in-out;
                }

                .anim:hover #myGradient stop:first-child {
                    stop-color: #9356DC;
                }

                .anim:hover #myGradient stop:last-child {
                    stop-color: #FF79DA;
                }
            }
        }



        .menu-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 12px;
            padding: 0 13px 0 13px;
            margin: 0;



            .card-list {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .card {
                    @include mixins.cards;
                    display: flex;
                    position: relative;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 15px;
                    width: 100%;
                    transition: padding 0.25s ease-in-out;

                    &:hover {
                        padding-right: 75px;

                        .right-content .card__click {
                            background-color: variables.$green-light;
                            width: 59px;
                            opacity: 1;

                            i {
                                transform: rotate(359deg);
                            }
                        }
                    }

                    .texts-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        overflow: hidden;

                        h3 {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .note {
                            font-family: 'Roboto-light';
                            font-size: 15px;
                            margin: 0;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .right-content {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-end;
                        padding-left: 15px;

                        .price {
                            color: variables.$black-grey;
                            font-family: 'Roboto-bold';
                            font-size: 15px;
                            margin: 0;
                        }

                        .card__click {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 20px;
                            width: 0;
                            height: 100%;
                            transition: 0.5s;
                            border-radius: 0 15px 15px 0;
                            background-color: variables.$white;
                            opacity: 0;

                            i {
                                color: variables.$white;
                                display: inline-block;
                                transition: 0.5s ease-in-out;
                                transform: rotate(0deg);
                            }
                        }
                    }
                }
            }
        }
    }

    .btn__cta {
        @include mixins.btn-cta;
        border-width: 0;
        width: 186px;
        margin-bottom: 40px;

        &:hover {
            @include mixins.btn-cta-hoover;
        }
    }
}

/***     Animation Menu content "apparition entrée plat dessert"   ***/

.starter {
    animation: 1000ms ease-in-out 0.25s 1 normal backwards running menu-content;
}

.dish {
    animation: 1000ms ease-in-out 0.50s 1 normal backwards running menu-content;
}

.dessert {
    animation: 1000ms ease-in-out 0.75s 1 normal backwards running menu-content;
}



/*** Footer ***/

footer {
    display: flex;
    flex-direction: column;
    background-color: variables.$black-grey;
    color: variables.$white;
    padding: 22px 25px 22px 25px;
    gap: 16px;

    @media screen and (min-width:767px) {
        flex-direction: row-reverse;
        align-items: flex-end;
        padding: 25px 30px 25px 30px;
    }

    h3 {
        color: variables.$white;
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        margin: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto-light';
        padding: 0;
        gap: 8px;

        @media screen and (min-width:767px) {
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
            margin: 30px 0 0 0;
        }

        li {
            list-style-type: none;

            @media screen and (min-width:767px) {
                min-width: 11%;
            }

            a {
                text-decoration: none;
                color: variables.$white;
            }
        }

        .ico-ustensils {
            font-family: 'Roboto';

            @media screen and (min-width:767px) {
                min-width: 16%;

            }
        }

        .ico-ustensils::before {
            font-family: 'Font-awesome-solid';
            content: "\f2e7";
            padding-right: 10px;
            font-size: 15px;
        }

        .ico-handshake-angle {
            font-family: 'Roboto';

            @media screen and (min-width:767px) {
                min-width: 16%;

            }
        }

        .ico-handshake-angle::before {
            font-family: 'Font-awesome-solid';
            content: "\f4c4";
            padding-right: 10px;
            font-size: 11px;
        }
    }

}