@use "_fonts";
@use "variables";
@use "mixins";
@use "keyframes";


/*** Général ***/


body {
    margin: 0;
    background-color: variables.$backgroundcolor;
}

h2 {
    font-family: 'Roboto-bold';
    padding-left: 18px;
    margin: 0;

    @media screen and (min-width:1440px) {
        padding: 0;
    }
}


/*** Header ***/

header {
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        width: 100%;
        height: 63px;
        background-color: variables.$white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        z-index: 1;


        img {
            width: 162px;
            height: auto;
        }
    }

    .localisation {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #eaeaea;
        height: 50px;
        color: variables.$black-grey;
        font-family: 'Roboto';

        span::before {
            font-family: 'Font-awesome-solid';
            content: "\f3c5";
            padding-right: 17px;
        }
    }
}

/***     ANIMATION LOADER    ***/


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: variables.$white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeout 2700ms forwards;

    i {
        color: variables.$first-color;
    }
}




/*** section presentation ***/

.section-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: 'Roboto-bold';
        text-align: center;
        margin: 40px 0px 0px 0px;
        padding: 0 50px 0 50px;

        @media screen and (min-width:1440px) {
            font-size: 40px;

        }
    }

    p {
        font-family: 'Roboto-light';
        font-size: 18px;
        text-align: center;
        margin: 21px 0 0 0;

    }

    a {
        display: inline-block;
        @include mixins.btn-cta;
        margin: 31px 0px 57px 0px;


        &:hover {
            @include mixins.btn-cta-hoover;
        }
    }
}






/*******        section functioning    ********/

.section-fonctionning {
    background-color: variables.$white;
    display: flex;
    flex-direction: column;
    padding: 48px 0 68px 0;

    @media screen and (min-width:1024px) {
        padding: 50px 50px;
        gap: 25px;
    }

    @media screen and (min-width:1440px){
        padding: 50px 180px;
        gap: 25px;
    }

    .cards-fonctionning-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-top: 30px;

        @media screen and (min-width:1024px) {
            flex-direction: row;
            gap: 36px;
            margin-top: 0;
            justify-content: center;
        }

        .cards-fonctionning {
            width: 75%;
            background-color: variables.$backgroundcolor;
            border-radius: 20px;
            font-family: 'Roboto';
            padding: 28px 0 28px 34px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

            @media screen and (min-width:1024px) {
                min-width: 27%;
            }

            /********         Icones circles   *******/
            &::before {
                display: inline-block;
                position: absolute;
                content: "1";
                background-color: variables.$first-color;
                color: variables.$white;
                line-height: 24px;
                font-size: 15px;
                border-radius: 50%;
                width: 24px;
                text-align: center;
                left: -12px;
            }

            &:nth-child(2)::before {
                content: "2";
            }

            &:nth-child(3)::before {
                content: "3";
            }

            /********         Icones fonctionnement     *******/
            .ico::before {
                font-family: 'Font-awesome-solid';
                padding-right: 20px;
                color: variables.$medium-grey;
            }

            .mobile::before {
                content: "\f3cd";
                font-size: 20px;
            }

            .menu::before {
                content: "\f0ca";
                font-size: 15px;
            }

            .store::before {
                content: "\f54e";
                color: variables.$first-color;
                font-size: 17px;

            }
        }
    }
}




/*** section restaurants ***/

.section-restaurants {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-top: 49px;

    @media screen and (min-width:1440px) {
        padding: 30px 180px;
    }

    h2 {
        padding-bottom: 7px;
    }

    .restaurants-contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 18px 0 18px;
        gap: 18px;

        @media screen and (min-width:1024px) {
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            box-sizing: border-box;
            padding: 0;
            gap: 25px 50px;
        }

        @media screen and (min-width:1440px) {
            gap: 50px 100px;
        }

        .card {
            width: 100%;
            @include mixins.cards;

            @media screen and (min-width:1024px) {
                width: 45%;

            }

            .card-first-section {
                text-decoration: none;
                display: inline-block;
                position: relative;
                width: 100%;

                img {
                    width: 100%;
                    max-height: 175px;
                    border-radius: 15px 15px 0 0;
                    object-fit: cover;

                }

                .label {
                    width: 80px;
                    height: 29px;
                    background-color: variables.$green-light;
                    color: variables.$color-label-font;
                    border-radius: 2px;
                    font-family: 'Roboto';
                    line-height: 29px;
                    text-align: center;
                    position: absolute;
                    top: 13px;
                    right: 12px;
                    font-size: 14px;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
                }
            }

            .card-second-section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-decoration: none;
                color: variables.$black;
                padding: 0 0 0 16px;

                a {
                    text-decoration: none;
                    color: variables.$black;
                }

                h3 {
                    font-family: 'Roboto-bold';
                    margin: 16px 0 8px 0;
                }

                p {
                    font-family: 'Roboto-light';
                    font-size: 17px;
                    margin-top: 0;
                }
            }

        }
    }

}

/****************** Animation coeur  *****/

.heart1 {
    padding: 23px 25px 33px 0;

    .anim {
        width: 21px;
        overflow: visible;
        cursor: pointer;
    }

    .anim path {
        fill: url(#myGradient1);
        stroke: black;
        stroke-width: 32px;
        transition: stroke 0.25s ease-in-out;
    }

    .anim stop {
        transition: 0.25s ease-in-out;
    }

    .anim path:hover {
        stroke: transparent;
    }

    .anim:hover #myGradient1 stop:first-child {
        stop-color: #9356DC;
    }

    .anim:hover #myGradient1 stop:last-child {
        stop-color: #FF79DA;
    }
}


.heart2 {
    padding: 23px 25px 33px 0;
    @include mixins.myGradient2;
}

.heart3 {
    padding: 23px 25px 33px 0;
    @include mixins.myGradient3;
}

.heart4 {
    padding: 23px 25px 33px 0;
    @include mixins.myGradient4;
}


/*** Footer ***/

footer {
    display: flex;
    flex-direction: column;
    background-color: variables.$black-grey;
    color: variables.$white;
    padding: 22px 25px 22px 25px;
    margin-top: 60px;

    @media screen and (min-width:767px) {
        flex-direction: row-reverse;
        align-items: flex-end;
        padding: 25px 30px 25px 30px;
        margin-top: 30px;
    }

    h3 {
        color: variables.$white;
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        margin: 0;

        @media screen and (min-width:767px) {
            margin-left: 16px;

        }
    }

    ul {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto-light';
        padding: 0;
        gap: 8px;

        @media screen and (min-width:767px) {
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
            margin: 30px 0 0 0;

        }

        li {
            list-style-type: none;

            @media screen and (min-width:767px) {
                min-width: 11%;
            }

            a {
                text-decoration: none;
                color: variables.$white;
            }
        }

        .ico-ustensils {
            font-family: 'Roboto';

            @media screen and (min-width:767px) {
                min-width: 16%;

            }
        }

        .ico-ustensils::before {
            font-family: 'Font-awesome-solid';
            content: "\f2e7";
            padding-right: 10px;
            font-size: 15px;
        }

        .ico-handshake-angle {
            font-family: 'Roboto';

            @media screen and (min-width:767px) {
                min-width: 16%;

            }
        }

        .ico-handshake-angle::before {
            font-family: 'Font-awesome-solid';
            content: "\f4c4";
            padding-right: 10px;
            font-size: 11px;
        }
    }

}