@charset "UTF-8";
/***  Variables  ***/
/*** Fonts ***/
@font-face {
  font-family: "Shrikhand";
  src: url(../assets/fonts/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-light";
  src: url(../assets/fonts/Roboto/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-bold";
  font-weight: 700;
  src: url(../assets/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Font-awesome-solid";
  src: url(../assets/fonts/fontawesome/fa-solid-900.woff2) format("woff2"), url(../assets/fonts/fontawesome/fa-solid-900.ttf) format("truetype");
}
@font-face {
  font-family: "Font-regular";
  src: url(../assets/fonts/fontawesome/fa-regular-400.woff2) format("woff2");
}
/*** mixin ***/
/*** Général ***/
body {
  margin: 0;
  background-color: #F6F6F6;
}

h2 {
  font-family: "Roboto-bold";
  padding-left: 18px;
  margin: 0;
}

/*** Header ***/
header {
  height: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .logo {
  width: 100%;
  height: 63px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo img {
  width: 162px;
  height: auto;
}
header .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #eaeaea;
  height: 50px;
  color: #353535;
  font-family: "Roboto";
}
header .localisation span::before {
  font-family: "Font-awesome-solid";
  content: "\f3c5";
  padding-right: 17px;
}

/*** section presentation ***/
.section-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-presentation h1 {
  font-family: "Roboto-bold";
  text-align: center;
  margin: 40px 0px 0px 0px;
}
.section-presentation p {
  font-family: "Roboto-light";
  font-size: 18px;
  text-align: center;
  margin: 21px 0 0 0;
}
.section-presentation a {
  display: inline-block;
  background: linear-gradient(359deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  padding: 15px 19px;
  font-family: "Roboto";
  color: white;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 300ms;
  margin: 31px 0px 57px 0px;
}
.section-presentation a:hover {
  opacity: 90%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

/*******        section functioning    ********/
.section-fonctionning {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 48px 0 68px 0;
}
.section-fonctionning .cards-fonctionning-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
}
.section-fonctionning .cards-fonctionning-content .cards-fonctionning {
  width: 75%;
  background-color: #F6F6F6;
  border-radius: 20px;
  font-family: "Roboto";
  padding: 28px 0 28px 34px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
  /********         Icones circles   *******/
  /********         Icones fonctionnement     *******/
}
.section-fonctionning .cards-fonctionning-content .cards-fonctionning::before {
  display: inline-block;
  position: absolute;
  content: "1";
  background-color: rgb(147, 86, 220);
  color: white;
  line-height: 24px;
  font-size: 15px;
  border-radius: 50%;
  width: 24px;
  text-align: center;
  left: -12px;
}
.section-fonctionning .cards-fonctionning-content .cards-fonctionning:nth-child(2)::before {
  content: "2";
}
.section-fonctionning .cards-fonctionning-content .cards-fonctionning:nth-child(3)::before {
  content: "3";
}
.section-fonctionning .cards-fonctionning-content .cards-fonctionning .ico::before {
  font-family: "Font-awesome-solid";
  padding-right: 20px;
  color: #7e7e7e;
}
.section-fonctionning .cards-fonctionning-content .cards-fonctionning .mobile::before {
  content: "\f3cd";
  font-size: 20px;
}
.section-fonctionning .cards-fonctionning-content .cards-fonctionning .menu::before {
  content: "\f0ca";
  font-size: 15px;
}
.section-fonctionning .cards-fonctionning-content .cards-fonctionning .store::before {
  content: "\f54e";
  color: rgb(147, 86, 220);
  font-size: 17px;
}

/*** section restaurants ***/
.section-restaurants {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 49px;
}
.section-restaurants h2 {
  padding-bottom: 7px;
}
.section-restaurants .restaurants-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 18px 0 18px;
}
.section-restaurants .restaurants-contents .card {
  width: 100%;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
}
.section-restaurants .restaurants-contents .card .card-first-section {
  text-decoration: none;
  display: inline-block;
  position: relative;
  width: 100%;
}
.section-restaurants .restaurants-contents .card .card-first-section img {
  width: 100%;
  max-height: 175px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-restaurants .restaurants-contents .card .card-first-section .label {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  font-family: "Roboto";
  line-height: 29px;
  text-align: center;
  position: absolute;
  top: 13px;
  right: 12px;
}
.section-restaurants .restaurants-contents .card .card-second-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: #000000;
  padding: 0 0 0 16px;
}
.section-restaurants .restaurants-contents .card .card-second-section h3 {
  font-family: "Roboto-bold";
  margin: 16px 0 8px 0;
}
.section-restaurants .restaurants-contents .card .card-second-section p {
  font-family: "Roboto-light";
  font-size: 17px;
  margin-top: 0;
}
.section-restaurants .restaurants-contents .card .card-second-section .heart {
  height: -moz-fit-content;
  height: fit-content;
}
.section-restaurants .restaurants-contents .card .card-second-section .heart::after {
  font-family: "Font-regular";
  content: "\f004";
  color: black;
  font-size: 22px;
  transition: background 0.2s ease-out;
  -webkit-background-clip: text;
  background-clip: text;
}
.section-restaurants .restaurants-contents .card .card-second-section .heart:hover::after {
  font-family: "Font-awesome-solid";
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*** Footer ***/
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 22px 25px 22px 25px;
  margin-top: 60px;
}
footer h3 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin: 0;
}
footer ul {
  display: flex;
  flex-direction: column;
  font-family: "Roboto-light";
  padding: 0;
  gap: 8px;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul .ico-ustensils {
  font-family: "Roboto";
}
footer ul .ico-ustensils::before {
  font-family: "Font-awesome-solid";
  content: "\f2e7";
  padding-right: 10px;
  font-size: 15px;
}
footer ul .ico-handshake-angle {
  font-family: "Roboto";
}
footer ul .ico-handshake-angle::before {
  font-family: "Font-awesome-solid";
  content: "\f4c4";
  padding-right: 10px;
  font-size: 11px;
}/*# sourceMappingURL=style.css.map */