@import 'variables';


/*** Fonts ***/

@font-face {
    font-family: 'Shrikhand', cursive;
    src: url(../assets/fonts/Shrikhand/Shrikhand-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-light';
    src: 
    url(../assets/fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-bold';
    font-weight: 700;
    src: url(../assets/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}


@font-face {
    font-family: 'Font-awesome-solid';
    src: url(../assets/fonts/fontawesome/fa-solid-900.woff2) format('woff2'),
    url(../assets/fonts/fontawesome/fa-solid-900.ttf) format('truetype');
}

/*** mixin ***/

@mixin btn-cta{
    border-radius: 25px ;
    padding: 15px 19px;
    font-family: 'Roboto';
    color: white;
    text-decoration: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}


/*** Général ***/


body {
    margin: 0;
    background-color: $background-color;
}

h2{
    font-family: 'Roboto-bold';
    padding-left: 18px;
}

/*** Header ***/

header {
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
        width: 100%;
        height: 63px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 162px;
            height: auto;
        }
    }
    .localisation{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #eaeaea;
        height: 50px;
        color: $fourth-color;
        font-family: 'Roboto';
        span::before{
            font-family: 'Font-awesome-solid';
            content: "\f3c5";
            padding-right: 17px;
        }
    }
}

/*** section presentation ***/

.section-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-family: 'Roboto-bold';
        text-align: center;
        margin: 40px 0px 0px 0px;
    }
    p{
        font-family: 'Roboto-light';
        font-size: 18px;
        text-align: center;
        margin-top: 21px;

    }
    a {
        display: inline-block;
        background: linear-gradient($second-color, $first-color) ;
        @include btn-cta;
        margin: 31px 0px 57px 0px;
    }
}




/*** section functioning ***/

.section-fonctionning {
    background-color: white;
    display: flex;
    flex-direction: column;

    .cards-fonctionning-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        .cards-fonctionning{
            width: 75%;
            background-color: $background-color;
            border-radius: 20px;
            font-family: 'Roboto';
            padding: 28px  0 28px 34px ;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
            .ico-mobile::before{
                font-family: 'Font-awesome-solid';
                content: "\f3cd";
                font-size: 20px;
                padding-right: 20px;
                color: #7e7e7e;
            }
            .ico-menu::before{
                font-family: 'Font-awesome-solid';
                content: "\f0ca";
                font-size: 15px;
                padding-right: 20px;
                color: #7e7e7e;
            }
            .ico-store::before{
                font-family: 'Font-awesome-solid';
                content: "\f54e";
                color: $first-color;
                font-size: 17px;
                padding-right: 20px;
            }
        }
    }
}



/*** section restaurants ***/


/*** Footer ***/